<ion-content class="full-page">
  <img src="../assets/img/personas.avif" alt="Imagen de fondo" class="background-image">

  <a #topOfPage href="#topOfPage"></a>
    <ion-card>
        <ion-card-header>
        {{ usuario!.nombre }} {{ usuario!.apellido }}
        </ion-card-header>
        <ion-card-content>
        Correo: {{ usuario!.correo }}
        </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let usuario of filtrarUsuarioEnSesion()">
      <ion-card-header>
        {{ usuario.nombre }} {{ usuario.apellido }}
      </ion-card-header>
      <ion-card-content>
        Correo: {{ usuario.correo }}
      </ion-card-content>
      <ion-button (click)="eliminarUsuario(usuario)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-card>
</ion-content>
