<ion-content class="full-page">
  <img src="../assets/img/personas.avif" alt="Imagen de fondo" class="background-image">

<div class="marco">
  <ion-card-content class="login ion-fade-in-up ion-animatable">
    <ion-item>
      <ion-input type="text" [(ngModel)]="usuario.nombre" label="Nombre" labelPlacement="floating"></ion-input>
      <ion-icon class="ion-icon" name="person-outline" slot="start"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="usuario.apellido" label="Apellidos" labelPlacement="floating"></ion-input>
      <ion-icon class="ion-icon" name="person" slot="start"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-input type="text" [(ngModel)]="usuario.correo" label="Correo" labelPlacement="floating"></ion-input>
      <ion-icon class="ion-icon" name="mail-outline" slot="start"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-input type="text" [(ngModel)]="usuario.preguntaSecreta" label="Pregunta secreta" labelPlacement="floating"></ion-input>
      <ion-icon class="ion-icon" name="help" slot="start"></ion-icon>
      
    </ion-item>

    <ion-item>
      <ion-input type="text" [(ngModel)]="usuario.respuestaSecreta" label="Respuesta secreta" labelPlacement="floating"></ion-input>
      <ion-icon class="ion-icon" name="help" slot="start"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-input type="password" [(ngModel)]="usuario.password" label="Contraseña" labelPlacement="floating"></ion-input>
      <ion-icon class="ion-icon" name="key" slot="start"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-input type="password" [(ngModel)]="repeticionPassword" label="Repetir contraseña" labelPlacement="floating"></ion-input>
      <ion-icon class="ion-icon" name="key-outline" slot="start"></ion-icon>
    </ion-item>
  </ion-card-content>
  <br>
  <div class="centrar-boton">
    <ion-button (click)="actualizarPerfil()">
      ACTUALIZAR DATOS
    </ion-button>
  </div>

</div>