<ion-content class="full-page">
  <img src="../assets/img/biblioteca.avif" alt="Imagen de fondo" class="background-image">
  
  <div class="content-container">
    <ion-title class="ion-text-center">
      <ion-img src="assets/logo_duoc.png" class="imagen"></ion-img>
      <h4>Sistema de Asistencia DUOC</h4>
    </ion-title>

    <ion-card-content class="login ion-fade-in-up ion-animatable">
      <ion-item>
        <h1>LAS CREDENCIALES INGRESADAS SON INCORRECTAS!</h1>
        <br>
      </ion-item>
      <ion-item>
        <ion-img src="assets/incorrecto.png" class="imagen"></ion-img>
      </ion-item>
    </ion-card-content>
  </div>
</ion-content>
